.CommentFooter_box{
  padding: 12px 15px;
  border-bottom: 1px solid #eef0f2;
  h2{
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 10px;
  }
  span{
    color: #a5a6ab !important;
    font-size: 12px;
  }

}
.CommentFooter{
  width: 100%;
  height: 100%;
  background-color: white;
  p{
    text-align: center;
    color: #969799;
    margin: 10px 0;
  }
}
