.ant-card-head{
  padding: 0 !important;
}
.ant-card-head-title{
  height: 55px;
}
ol{
  list-style: none;
  padding: 0 24px;
}
.btnBlue{
  width: 30px !important;
  height: 30px !important;
  border-radius: 50px !important;
  color: #fff !important;
  border-color: #40a9ff !important;
  background: #40a9ff !important;
}
.btnRed{
  width: 30px !important;
  height: 30px !important;
  border-radius: 50px !important;
  color: #fff !important;
  border-color: #ff4d4f !important;
  background: #ff4d4f !important;
}
