.editGenders{
  background-color: #f7f8fa;
  height: 100%;
}
.editGender{
  margin-bottom: 10px;
}
.list-item{
  text-align: center;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  background-color: white;
}
