.span{
  font-size: 15px;
  color: #fc6627;
}
.input{
  border-top: 1px solid #ebedf0 ;
  padding: 10px 20px;
}
 .adm-input,.adm-text-area{
  background: #f7f8fa;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
}
.adm-text-area-count{
  color: #646566;
  font-size: 14px;
}
